<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.vanmar.android.hoebapp"
    android:versionCode="15"
    android:versionName="1.2.2" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--  For testing!! 
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    -->
    
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    
    <application
        android:name="HoebAppApplication_"
        android:icon="@drawable/logo_hh"
        android:label="@string/app_name"
        android:theme="@style/HoebAppTheme" 
        android:allowBackup="true">
        <activity
            android:name=".HoebAppActivity_"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreferencesActivity_"
            android:label="@string/preferences" >
        </activity>
        <activity
            android:name=".LocationsActivity_"
            android:label="@string/locations" 
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".SearchActivity_"
            android:label="@string/search" 
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".DetailActivity_"
            android:label="@string/details" 
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".HelpActivity_"
            android:label="@string/help" >
        </activity>
        <activity
            android:name=".AboutActivity_"
            android:label="@string/about" >
        </activity>
        <activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        <provider
		      android:name=".db.MediaContentProvider"
		      android:authorities="de.vanmar.android.hoebapp.contentprovider.media"
		      android:exported="false">
        </provider>
        <provider
		      android:name=".db.LocationContentProvider"
		      android:authorities="de.vanmar.android.hoebapp.contentprovider.locations"
		      android:exported="false">
        </provider>
        <receiver android:name=".HoebAppWidgetProvider_"
            android:exported="false">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/hoebapp_appwidget_info" />
		</receiver>

        <service android:name=".WidgetUpdateService_" />
        <receiver android:name=".UpdateService_" />
    </application>

</manifest>